{% extends 'base.html.twig' %}

{% block title %}Edit Avaliation{% endblock %}

{% block body %}
    <h1>Edit Avaliation</h1>

    {{ include('avaliation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('avaliation_index') }}">back to list</a>

    {{ include('avaliation/_delete_form.html.twig') }}
{% endblock %}
