{% extends 'base.html.twig' %}

{% block title %}Avaliation index{% endblock %}

{% block body %}
    <h1>Avaliation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>user</th>
                <th>music</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avaliation in avaliations %}
            <tr>
                <td>{{ avaliation.id }}</td>
                <td>{{ avaliation.user }}</td>
                <td>{{ avaliation.music }}</td>
                <td>
                    <a href="{{ path('avaliation_show', {'id': avaliation.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
