{% extends 'base.html.twig' %}

{% block title %}New Avaliation{% endblock %}

{% block body %}
    <h1>Create new Avaliation</h1>

    {{ include('avaliation/_form.html.twig') }}

    <a href="{{ path('avaliation_index') }}">back to list</a>
{% endblock %}
