<form method="post" action="{{ path('band_delete', {'id': band.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ band.id) }}">
    <button class="btn">Delete</button>
</form>
