{% extends 'base.html.twig' %}

{% block title %}Edit Band{% endblock %}

{% block body %}
    <h1>Edit Band</h1>

    {{ include('band/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('band_index') }}">back to list</a>

    {{ include('band/_delete_form.html.twig') }}
{% endblock %}
