{% extends 'base.html.twig' %}

{% block title %}New Plan{% endblock %}

{% block body %}
    <h1>Create new Plan</h1>

    {{ include('plan/_form.html.twig') }}

    <a href="{{ path('plan_index') }}">back to list</a>
{% endblock %}
